@model MBA.Marketplace.Web.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLoginRegistro.cshtml";
}



<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow">
        <div class="card-header bg-dark text-white py-2">
            <h5 class="mb-0 small">Login de Acesso</h5>
        </div>
        <div class="card-body">

            <form asp-action="Login" method="post" novalidate>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label fw-semibold small"></label>
                    <input asp-for="Email" class="form-control form-control-sm" />
                    <span asp-validation-for="Email" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Senha" class="form-label fw-semibold small"></label>
                    <input asp-for="Senha" class="form-control form-control-sm" />
                    <span asp-validation-for="Senha" class="text-danger small"></span>
                </div>

                <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-success btn-sm">Login</button>
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-action="Index" asp-controller="Registrar" class="text-success small">Esqueci minha senha</a>
                    <a asp-action="Index" asp-controller="Registrar" class="text-success small">Criar conta</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}